.products:hover {
    cursor: pointer;
}

.bg-products {
    position: absolute;
    left: 0;
    width: 100%;
    border-style: none;
    /* bottom: 0; */
}

.pricing-dropdown{
    display: none;
    margin-top: 15px;
    list-style: none;
    padding: 6px 0;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
}
.pricing-dropdown li {
    padding: 6px 0;
}
a.sub-nav-link {
    line-height: 26px;
    color: rgba(29, 18, 18, 0.6);
    /* color: rgba(255, 255, 255, 0.6); */
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: transparent !important;
    padding: 6px 10px;
    margin: 0px 10px;
    font-weight: 600;
}

a.sub-nav-link:hover {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.clients .client-images img {
    height: 100px;
}

.demo-box {
    height: 300px;
    background-color: #ebebeb!important;
}

.demo-box .text-dark img {
    height: 180px;
}

.ratings {
    background-color: #ebebeb;
    padding: 15px 10px;
    color: black;
    border-radius: 5px;
    padding-bottom: 20px;
}

.checked {
    color: coral;
}
.product-btn {
    padding: .8rem 7rem;
    margin: 0 auto;
    font-weight: 600;
}

.product-detail p {
    text-align: justify;
}

.ratings ul {
    list-style-type: none;
}

.ratings ul li {
    margin: 10px 0;
    font-weight: 600;
}

.product-img {
    height: 100px;
}

.checkout-delete i {
    padding: 0 0;
    margin: 0 auto;
    font-size: 20px;
}

#quantity {
    width: 50px;
    height: 40px;
    text-align: center;
    transform: none;
}

hr.divider {
    border: .5px solid #673ab7;
}

.checkout-payment h4 {
    margin: 0 0 ;
}

.checkout-payment h5 {
    margin: 2px 0;
}

.btn-payment {
    position: absolute;
    right: 50px;
    width: 200px;
}

.btn-invoice {
    width: 200px;
}

.address-marker {
    color: #673ab7;
    font-size: 28px;
}

.ticket-marker {
    color: #673ab7;
    font-size: 24px;
}

.confirm:checked::after {
    background: wheat;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.confirm {
    appearance: none;
    position: relative;
    margin: 7px auto;
    height: 25px;
    width: 25px;
    transition: all .15s ease-out 0s;
    background: #673ab7;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
}

.confirm:checked::before {
    height: 25px;
    width: 25px;
    position: absolute;
    content: '✓';
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.payment-method {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 5px;
    cursor: pointer;
}

.payment-method img {
    /* width: 100px; */
    height: 50px;
    width: auto;
}

.selected {
    -webkit-transition: all 0.3s;
    transition: all .3s;
    background: rgba(0,122,255,.1);
}